/*footer*/
.footer__masInformacion {
    display: flex;
    flex-direction: column;

}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 16px;

    a {
        color: black;
    }
}

.footer__medioDePagos {
    display: inline-block;
    width: 200px;
    height: 150px;
}

.footer__contactanos {
    margin: 0;
}

.masInfo {
    padding-left: 30px;
}

/*imagenes de wazap y email*/
.footer__wazap-email {
    width: 20px;
    height: 20px;
}

.footer__seguinos {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.footer__seguinos--over:hover {
    width: 30px;
    height: 30px;
}

.footer__creado {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #f0eded;
    margin-top: 30px;
}

.footer__wazap-principal {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;

}

.footer__wazap-principal--over:hover {
    height: 50px;
    width: 50px;
}

body header nav {
    background-color: white;
    width: 100%;
    height: auto;
}