
/*cabeza*/
.header__h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: center;
    text-decoration: underline;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    animation-duration: 10s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main{
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.header__logo{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 300px;
    height: 150px;
    margin: 0 auto;
}
.ordenarPor {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: stretch;
    margin-right: 50px;
}
.navbar {
    grid-area: navbar;
    font-size: 13px;
}
.navbar-brand {
    font-size: 13px;
}
.btn-outline-light {
    font-size: 13px;
}
.form-control{
    font-size: 12px;
}
.menu__cambio {
    font-size: 16px;
}