@media only screen and (min-width: 489px) and (max-width: 1024px) {
    .contenedor__btn-formulario {
       display: flex;
       flex-direction: row;
       width: auto;
       justify-content: center;
       align-content: center;
       margin-left: 5px;
       left: 200px;

   }
   .contenedor {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: auto;
   }
   .mapa {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: auto;
       
   }
   iframe {
       width: 500px;
       height: 400px;
       
   }

.header {
    grid-area: header;

}

.navbar {
    grid-area: navbar;
    .nav-item-submenu {
        margin-bottom: 230PX;
    }
}

.sidebar {
    grid-area: sidebar;
    width: 45%;
    height: auto;
    .btn5 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .precio{
        margin-left: 35px;
    }
}
.sidebar_demon {
    padding-left: 20px;
    height: auto;
    margin-left: 95px;
}

.main {
    grid-area: main;
    .btn4 {
        margin-left: -50px;
    }
    .imgProducto{
        margin-left: 20px;
        margin-bottom: 120px;
        }
}

.main_demon {
    width: 25%;
    float: left;

}

.footer {
    grid-area: footer;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

    
    h4 {
        font-size: 150%;
    }
    .footer__masInformacion {
        font-size: 50%;
        a {
            font-size: 180%;
        }
    }
    
    .footer__contactanos {
        font-size: 90%;
    }
    .footer__wazap-email {
        width: 25px;
        height: 25px;
    }
    .footer__seguinos {
        width: 40px;
        height: 40px;
}
.footer__medioDePagos {
    width: 175px;
    height: 115px;
}

}



.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "sidebar"
        "footer";
}


.grid-container {
    background-color: black;
     grid-template-rows: auto auto auto auto;
grid-template-columns: 150px auto;
grid-template-areas: 
"header header "
"navbar navbar"
"main  sidebar"
"footer footer";
/*
    grid-template:
        "header"auto "navbar"auto "main"auto "sidebar"auto "footer "auto / auto;
}

*/

}
}